form id='login-form' action='/' method='get'
  input.input-xxlarge type='text' id='login' name='login' placeholder='GitHub Login' value=@current_user.try(:login)
  button type='submit' class='btn' Go!
