form#login-form action='/' method='get'
  input.input-block-level#login type='text' name='login' placeholder='Enter your GitHub Login' autofocus=true autocomplete='off' value=@current_user.try(:login) data-current-value=@current_user.try(:login)
  button type='submit' class='btn' Go!
